.category-card{
    background:#fff;
    padding:24px;
    border-radius:10px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    cursor:pointer;
    transition:0.3s;
}

.category-card:hover{
    box-shadow:0 8px 20px rgba(0,0,0,0.2);
}

.category-title{
    color:#2563eb;
    font-size:24px;
    font-weight:bold;
}

.category-jobs{
    margin-top:10px;
    color:#6b7280;
}