.hero {
    background: linear-gradient(to right,#2563eb,#4338ca);
    color: white;
    padding: 90px 0;
}

.hero-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 55px;
    line-height: 70px;
}

.hero-content span {
    color: gold;
}

.hero-content p {
    margin: 25px 0;
    font-size: 20px;
    line-height: 32px;
}

.hero-buttons {
    display: flex;
    gap: 20px;
}

.find-btn {
    padding: 14px 30px;
    background: white;
    color: #2563eb;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

.start-btn {
    padding: 14px 30px;
    border: 2px solid white;
    color: white;
    text-decoration: none;
    border-radius: 8px;
}

.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    width: 500px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,.3);
}

@media (max-width:768px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
    }

    .hero-content h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .hero-buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image img {
        width: 100%;
    }
}