.jobs-page {
    width: 90%;
    margin: 30px auto;
}

.jobs-container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.filter-section {
    width: 25%;
}

.job-list-section {
    width: 75%;
}

.job-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media screen and (max-width:768px) {

    .jobs-container {
        flex-direction: column;
    }

    .filter-section,
    .job-list-section {
        width: 100%;
    }

    .job-grid {
        grid-template-columns: 1fr;
    }

}